<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <h1>Fill the form please ! </h1>
    <form method="POST" action="/theform2">
        <label for="name">Nama:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="satker">Satker:</label>
        <input type="text" id="satker" name="satker" required><br><br>
        <label for="bidang">Bidang:</label>
        <input type="text" id="bidang" name="bidang" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>